.cache/**
.ssh/**
angular2-fluent-conf/
first-app/
git/
projects/**
spurgeon/**
.bash_history
.bash_profile
.bashrc
.inputrc
.profile
.viminfo
audio.txt
email_message.txt
files_copied.log
hostnames.txt
IMG_*
newsermons.php
recent-access.log
sermons_meta_data.txt
sermons_meta_data_w_tagline.txt
tagline.txt
